.mainTitle{
    text-align: center;
    font-size: 60px;
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: goldenrod;
    
    width: 50%;
    padding-bottom: 20px;
    border-bottom: 2px solid darkgoldenrod;
}

.blogsDiv{
    
}