.invite{
    color:white;
    font-size: larger;
    margin-bottom: 1rem;
    background-color: rgb(10, 27, 27);
    width: 20rem;
    height: 4rem;
    text-align: center;
    padding: 0.25rem;
    border: 10px inset darkred;
}

.contactButton{
    display:block;
    color: rgb(248, 220, 150);
    text-decoration: underline;
    width: 100px;
    height: 30px;
    margin: 10px 0px;
}